
<select (change)="onChange($event.target.value)">
  <option value="allAnimals" selected="selected">All Animals</option>
  <option value="oldAnimals">Animals Older than 2 </option>
  <option value="youngAnimals">Animals Younger than 2</option>
</select>

  <ul class="collapsible" data-collapsible="accordion" *ngFor="let currentAnimal of childAnimalList | completeness:filterByCompleteness">
    <div class="collapsible-header"><li>Species:{{currentAnimal.species}}</li></div>
    <div class="collapsible-body">
      <li>Name:{{currentAnimal.name}}</li>
      <li>Age:{{currentAnimal.age}}</li>
      <li>Diet:{{currentAnimal.diet}}</li>
      <li>Current Location:{{currentAnimal.location}}</li>
      <li>Number Of Caretakers Needed: {{currentAnimal.caretakers}}</li>
      <li>Sex: {{currentAnimal.sex}}</li>
      <li>Likes:{{currentAnimal.likes}}</li>
      <li>Dislikes:{{currentAnimal.dislikes}}</li>
    </div>
    <button class="waves-effect waves-light btn" (click)="editButtonHasBeenClicked(currentAnimal)">Edit!</button>
  </ul>
