
<select materialize="material_select" (change)="onChange($event.target.value)">
  <option value="allAnimals">All Animals</option>
  <option value="oldAnimals">Animals Older than 2 </option>
  <option value="youngAnimals">Animals Younger than 2</option>
</select>

  <ul materialize="collapsible" data-collapsible="accordion" *ngFor="let currentAnimal of childAnimalList | completeness:filterByCompleteness">
    <li>
      <div class="collapsible-header">Species:{{currentAnimal.species}}</div>
      <div class="collapsible-body">
      <li>Name:{{currentAnimal.name}}</li>
      <li>Age:{{currentAnimal.age}}</li>
      <li>Diet:{{currentAnimal.diet}}</li>
      <li>Current Location:{{currentAnimal.location}}</li>
      <li>Number Of Caretakers Needed: {{currentAnimal.caretakers}}</li>
      <li>Sex: {{currentAnimal.sex}}</li>
      <li>Likes:{{currentAnimal.likes}}</li>
      <li>Dislikes:{{currentAnimal.dislikes}}</li>
    </div>
  </li>
    <button class="waves-effect waves-light btn" (click)="editButtonHasBeenClicked(currentAnimal)">Edit!</button>
  </ul>
