<select (change)="onChange($event.target.value)">
  <option value="allAnimals">All Animals</option>
  <option value="oldAnimals">Animals Older than 5 </option>
  <option value="youngAnimals" selected="selected">Animals Younger than 5</option>
</select>

<ul>
  <li [class]="ageColor(currentAnimal)" *ngFor="let currentAnimal of childAnimalList | completeness:filterByCompleteness">{{currentAnimal.species}} {{currentAnimal.name}} {{currentAnimal.diet}} {{currentAnimal.location}} {{currentAnimal.caretakers}} {{currentAnimal.sex}} {{currentAnimal.likes}} {{currentAnimal.dislikes}}
    <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit!</button>
  </li>
</ul>
