<div class="container">
<img src="http://svn.zoo-project.org/svn/tags/rel-1.3.0-rc2/docs/_static/images/zoo-banner-large.png" alt="">
  <h2>Welcome to the Jungle</h2>

  <h5>Here are a list of your Animals</h5>
  <animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></animal-list>
  <hr>
  <edit-animal [childSelectedAnimal]="selectedAnimal" (doneButtonClickedSender)="finishedEditing()"></edit-animal>
  <new-animal (newAnimalSender)="addAnimal($event)"></new-animal>
</div>
